#toolbar-link-cacheflusher:before {
  background-image: url("icons/787878/reload.svg");
}
.no-svg #toolbar-link-cacheflusher:before {
  background-image: url("icons/787878/reload.png");
}
#toolbar-link-cacheflusher:active:before,
#toolbar-link-cacheflusher.is-active:before{
  background-image: url("icons/000000/reload.svg");
}
.no-svg #toolbar-link-cacheflusher:active:before,
#toolbar-link-cacheflusher.is-active:before {
  background-image: url("icons/000000/reload.png");
}